.border-box{
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 1em;
    padding: 1em;
}

.active{
    background-color: #4CAF50;;
}

.inactive{
    background-color: rgb(251, 246, 246);
}

.dislikeActive{
    background-color: #f44336;;
}
.dislikeInactive{
    background-color: rgb(251, 246, 246);
}
.bold{
    font-weight: bold;
}

.center{
    text-align: center;
}